/*网页的全局样式 解决兼容问题*/ 
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,form,input,select,textarea,span,img,a,em,strong,*{ margin:0; padding:0;} body{ font-family:"宋体"; font-size:12px; color:#000000;} ul,ol,li{ list-style:none;} h1,h2,h3,h4,h5,h6{ font-size:14px;} input,select,textarea{ vertical-align:middle;} img{ border:none; vertical-align:middle;} a{ text-decoration:none; color:#333333;} a:hover{ color:#009999;} .clear{ clear:both; height:0px; width:0px; overflow:hidden;}
.wrap{
	width:629px;
	background: #A7AB8C;
	margin:0 auto; 
	padding: 10px;
}
.box{
	width:500px;
	background: #fff;
	border-radius: 10px;
	margin:10px auto;
}
.top{
	height:223px;
	margin-left: 23px;
}
.top h2{
	height:47px;
	line-height: 47px;
	font-size: 18px;
}
.img p input{
	width:174px;
	height:24px;
	border:1px solid #ccc;
	border-radius: 5px;
	border-right:none;
	float: left;
	margin-top: 3px;
}
.img ul{
	float:left;
	margin-bottom: 10px;

}
.img ul li{
	float: left;
	margin-right: 5px;
	opacity: 0.4;
	cursor: pointer;
}
.img ul li img{
	width:30px;
	height:30px;
}
.img .libg{
	border:1px solid orange;
	opacity: 1;
}
#textarea{
	border-radius: 10px;
}
.textarea p{
	float: right;
	margin-top:19px ;
	margin-right: 65px;
}	
.textarea p span{
	font-size: 20px;
	font-weight:900;
}
#comment{
	margin-left: 50px;
}
.cont{
	width:480px;
	margin:16px auto;
	padding-bottom: 15px;
}
.title{
	height:35px;
	background: #E3EAEC;
}
.title h2{
	width:85px;
	height:28px;
	margin-top: 7px;
	float: left;
	text-align: center;
	font-weight:400;
	margin-left: 10px;
	line-height: 28px;
	background: #fff;
}
.past{
	height:72px;
	border-bottom: 1px dashed #ccc;
	position: relative;
}
.past a{
	float: right;
	position: absolute;
	right: 30px;
	top: 30px;
	cursor:pointer;
	display: none;
}
.past dl{
	float: left;
	margin:10px 0 0 10px;
}
.past dl dt{
	float: left;
}
.past dl dd{
	float: left;
	margin-left: 10px;
	line-height: 20px;
	width:396px;
	word-wrap: break-word;
}
.past dl dd span{
	color:#889DB6;
}
.past dl dd i{
	
}
.past dl dd p{
	float: left;
}
.mark{
	background: #eee;
}
i{
	font-style: normal;
}


